.header_articlepage {
    background-image: none;
    max-height: 173px;
}

.header__subblock-articlespage {
    margin-top: -1%;
    height: 825px;
    background-image: url('/src/images/bg-articles.png') !important;
    background-repeat: no-repeat;
}

.articlespage__title {
    max-width: 1170px;
}