.filters__articles {
    justify-content: flex-start;
    @include phone {
        flex-wrap: nowrap;
    }
}

.filters__articles-wrapper {
    max-width: 210px !important;
}

.filters {
    &__search {
        position: relative;
        margin-left: auto;
        @include phone {
            display: none;
        }
    }
    &__form-search {
        position: relative;
        display: block;
        height: 45px;
        width: 338px;
        padding: 15px;
        border-radius: var(--border-radius-m);
        border: 1px solid var(--color-gray);
        outline: none;
        font-size: var(--text-xs);
        &::placeholder {
            color: var(--color-dark);
        }
    }
    &__search-icon {
        position: absolute;
        right: 15px;
        top: 33%;
    }
    &__reset-filter {
        margin-top: 30px;
        display: block;
        font-size: var(--text-xs);
        img {
            margin-right: 10px;
        }
        color: var(--color-green);
        &:hover {
            color: darken(#a3da5f,15%);
        }
        &:active {
            color: lighten(#a3da5f,5%);
        }
        @include phone {
            display: none;
        }
    }
}

.articles__news {
    display: flex;
    flex-wrap: wrap;
    gap: 56px 29px;
    margin-bottom: 129px;
}