.brick_header {
    background-image: url("/src/images/bg-brickhouse.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    z-index: -1;
    height: 1120px;
}