.brick_header {
    background-image: url("/src/images/bg-brickhouse.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1120px;
    @include desktop {
        height: 100%;
    }
}