.news {
  &__block {
    @include df-center-sb;
    flex-wrap: wrap;
    width: 1440px;
    grid-gap: 0px 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    @include mobile {
      width: 767px;
      margin: 0 auto;
    }
  }
  &__block-card {
    width: 338px;
    height: 420px;
    box-shadow: var(--box-shadow-m);
    border-radius: var(--border-radius-m);
  }
  &__block-descr {
    margin-left: 38px;
  }
  &__block-subtitle {
    width: 239px;
    margin-top: 21px;
    margin-bottom: 26px;
    font-weight: var(--fw-semibold);
    font-size: var(--text-other);
  }
  &__block-date {
    font-size: var(--text-xxs);
    font-weight: var(--fw-regular);
    color: var(--color-orange);
  }
}
