.burger {
  position: absolute;
  right: -630px;
  top: 0;
  width: 630px;
  height: 100%;
  max-height: 100vh;
  background-color: var(--color-light-blue);
  transition: all 0.6s ease-in;
  z-index: 110;
  @include mobile {
    right: -400px;
    width: 400px;
    height: 100%;
  }
  @include phone {
    right: -300px;
    width: 300px;
    position: fixed;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1120px;
    max-height: 100vh;
    @include desktop {
      height: 100%;
    }
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    margin-left: 64px;
    @include phone {
      margin-top: 30px;
      margin-left: 37px;
    }
  }
  &__logo {
    display: block;
    margin-top: 67px;
    margin-left: 64px;
    @include phone {
      margin-top: 30px;
      margin-left: 37px;
    }
  }
  &__menu-item,
  &__menu-list,
  .page_item a {
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
      color: lighten(#16182a, 40%) !important;
    }
    &:active {
      color: darken(#fff, 40%) !important;
    }
    @include mobile {
      font-size: var(--text-xxs);
      margin-top: 20px;
    }
  }
  &__menu-contact {
    margin-left: 64px;
    margin-bottom: 140px;
    @include desktop {
      margin-top: 20%;
    }
    @include mobile {
      margin-top: 5%;
    }
    @include phone {
      margin-left: 37px;
      margin-bottom: 55px;
    }
  }
  .menu__phone {
    margin-bottom: 25px !important;
  }
  .menu__social {
    margin-top: 50px;
    @include mobile {
      margin-top: 20px;
    }
  }
  &__open {
    transform: translateX(-100%);
    visibility: visible;
  }
}
