.inworked {
  &__block {
    @include df-center-all;
    position: relative;
    height: 500px;
    background-color: var(--color-light-blue);
    border-radius: var(--border-radius-s);
    background-image: url("/src/images/bg-inworked-house.png");
    background-size: auto 92%;
    background-repeat: no-repeat;
    background-position: right 18% bottom;
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      @include desktop-h {
        max-height: 100%;
      }
      @include desktop {
        max-height: 60%;
      }
      @include mobile {
        max-height: 40%;
      }
    }
    @include mobile {
      height: 572px;
    }
  }
  &__block-dashed {
    width: 98%;
    height: 95%;
    border-radius: var(--border-radius-s);
    border: var(--border-dashed-light);
    @include mobile {
      align-items: flex-start !important;
    }
  }
  &__block-description {
    margin-left: 64px;
    margin-top: 39px;
    @include tablet {
      margin-left: 35px;
      margin-top: 25px;
    }
    @include mobile {
      margin: 16px 0px 0px 14px;
    }
  }
  &__block-title {
    text-align: left !important;
  }
  &__block-subdescr {
    width: 524px;
    margin-top: 30px;
    font-weight: var(--fw-light);
    line-height: 27px;
    @include desktop {
      font-size: var(--text-xxs);
      width: 440px;
    }
    @include mobile {
      font-size: var(--text-xs);
      width: 360px;
      line-height: normal;
      margin-top: 15px;
    }
    @include phone {
      font-size: var(--text-smal);
      width: 240px;
      line-height: normal;
    }
  }
  &__form {
    margin-top: 20px;
    @include desktop {
      margin-top: 30px;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }
  }
  &__form-btn {
    @include tablet {
      width: 230px;
    }
    @include mobile {
      width: 250px;
      height: 60px;
    }
  }
  &__form-input {
    margin-right: 25px;
    background-color: var(--color-light);
    padding: 0;
    width: 297px;
    text-align: center;
    &::placeholder {
      text-align: center;
      color: var(--color-dark);
      font-weight: var(--fw-light);
      padding: 0;
      text-align: center;
    }
    @include tablet {
      width: 230px;
      margin-bottom: 10px;
      padding: 0;
    }
    @include mobile {
      margin: 0 0 10px 0;
      padding: 0;
      width: 250px;
      height: 60px;
    }
  }
}
