.news {
  &__block {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  &__block-card {
    margin: 0 auto;
    width: 340px;
    height: 420px;
    box-shadow: var(--box-shadow-m);
    border-radius: var(--border-radius-m);
  }
  &__block-descr {
    margin-left: 38px;
  }
  &__block-subtitle {
    width: 239px;
    margin-top: 21px;
    margin-bottom: 26px;
    font-weight: var(--fw-semibold);
    font-size: var(--text-other);
  }
  &__block-date {
    font-size: var(--text-xxs);
    font-weight: var(--fw-regular);
    color: var(--color-orange);
  }
}

.splide {
  max-width: 100%;
  &__list {
    @include mobile {
      width: 100%;
      height: auto;
    }
  }
  &__slide-news {
    margin: 0 auto !important;
  }
}
