/* Local Style */
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "media.scss";
@import "global.scss";
@import "utils.scss";
@import "section.scss";

/* Section Style */
@import "blocks/header.scss";
@import "blocks/work.scss";
@import "blocks/example.scss";
@import "blocks/advantages.scss";
@import "blocks/feedback.scss";
@import "blocks/project.scss";
@import "blocks/inworked.scss";
@import "blocks/devproject.scss";
@import "blocks/review.scss";
@import "blocks/news.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";

/* Reset Style */
@import "normalize.css";

.container {
  max-width: var(--container-width);
  padding: var(--container-padding);
  box-sizing: border-box;
}
