/* Local Style */
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "media.scss";
@import "global.scss";
@import "utils.scss";
@import "section.scss";
@import 'tabs.scss';

/* Section Style */
/* Home */
@import "home/header.scss";
@import "home/work.scss";
@import "home/example.scss";
@import "home/advantages.scss";
@import "home/feedback.scss";
@import "home/project.scss";
@import "home/inworked.scss";
@import "home/devproject.scss";
@import "home/review.scss";
@import "home/news.scss";
@import "home/map.scss";
@import "home/footer.scss";

/* Brick House */
@import "brickHouse/brick-header.scss";
@import "brickHouse/brick-catalog.scss";
@import "brickHouse/brick-selection.scss";

/* Bath House */
@import "bathHouse/bath-header.scss";
@import "bathHouse/bath-typebaths.scss";
@import "bathHouse/bath-descrbaths.scss";
@import "bathHouse/bath-spazone.scss";
@import "bathHouse/bath-cleaning.scss";

/* Project House */
@import "projectHouse/project-header.scss";

/* Reset Style */
@import "normalize.css";
@import "@splidejs/splide/css";

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  box-sizing: border-box;
  @include desktop {
    max-width: 1280px;
  }
  @include tablet {
    max-width: 1023px;
  }
  @include mobile {
    max-width: 768px;
  }
  @include phone {
    max-width: 430px;
  }
}

.splide {
  margin: 0 auto;
  @include mobile {
    margin-top: 25px;
  }
  &__slide {
    img {
      width: 100%;
    }
    @include mobile {
    }
  }
  &__arrow {
    background: none;
    @include mobile {
      img {
        width: 50px;
        height: 50px;
      }
    }
    @include phone {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__arrow--prev {
    margin-left: -4.5%;
    @include tablet {
      margin-left: 0;
    }
  }
  &__arrow--next {
    margin-right: -4.5%;
    @include tablet {
      margin-right: 0;
    }
  }
}
