/* Local Style */
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "media.scss";
@import "global.scss";
@import "utils.scss";
@import "section.scss";
@import "tabs.scss";

/* Section Style */
/* Home */
@import "home/header.scss";
@import "home/work.scss";
@import "home/example.scss";
@import "home/advantages.scss";
@import "home/feedback.scss";
@import "home/project.scss";
@import "home/inworked.scss";
@import "home/devproject.scss";
@import "home/review.scss";
@import "home/news.scss";
@import "home/map.scss";
@import "home/footer.scss";

/* Brick House */
@import "brickHouse/brick-header.scss";
@import "brickHouse/brick-catalog.scss";
@import "brickHouse/brick-selection.scss";

/* Bath House */
@import "bathHouse/bath-header.scss";
@import "bathHouse/bath-typebaths.scss";
@import "bathHouse/bath-descrbaths.scss";
@import "bathHouse/bath-spazone.scss";
@import "bathHouse/bath-cleaning.scss";

/* Project House */
@import "projectHouse/project-header.scss";
@import "projectHouse/project-stepproject.scss";

/* Company */
@import "company/company-header.scss";
@import "company/company-personal.scss";
@import "company/company-documents.scss";
@import "company/company-firms.scss";
@import "company/company-guard.scss";

/* Company */
@import "projectPage/projectPage.scss";
@import "projectPage/products-planer.scss";
@import "projectPage/products-ordered.scss";
@import "projectPage/products-header.scss";

/* Objects */
@import "objects/objects.scss";
@import "objects/objects-quality.scss";

/* Articles */
@import "articles/articles.scss";
@import "articles/articlesPage.scss";
@import "articles/articles-articlesinfo.scss";

/* Order */
@import "order/order.scss";

/* Error */
@import "404/404.scss";

/* Vacancies */
@import "vacancies/vacancies.scss";

/* Policy */
@import "policy/policy.scss";

/* Reset Style */
@import "normalize.css";
@import "@splidejs/splide/css";

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  box-sizing: border-box;
  @include desktop {
    max-width: 1280px;
  }
  @include tablet {
    max-width: 1023px;
  }
  @include mobile {
    max-width: 768px;
  }
  @include phone {
    max-width: 430px;
  }
}

.splide {
  // default style
  margin: 0 auto;
  width: 100%;
  @include mobile {
    margin-top: 25px;
  }
  &__track {
    width: 100%;
  }
  &__slide {
    img {
      width: 100%;
    }
  }
  &__arrow {
    background: none;
    @include mobile {
      img {
        width: 50px;
        height: 50px;
      }
    }
    @include phone {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  // review slider style
  &__arrow-review--prev {
    margin-left: -4%;
    opacity: 1 !important;
    @include tablet {
      margin-left: 0;
    }
  }
  &__arrow-review--next {
    margin-right: -4%;
    opacity: 1 !important;
    @include tablet {
      margin-right: 0;
    }
  }
  // news slider style
  &__arrow-news--prev {
    opacity: 1 !important;
    margin-left: -2.5%;
    @include tablet {
      margin-left: 0;
    }
  }
  &__arrow-news--next {
    opacity: 1 !important;
    margin-right: -2.5%;
    @include tablet {
      margin-right: 0;
    }
  }
  &__track-news {
    height: 435px;
  }
  // personal slider style
  &__arrow-personal--prev {
    opacity: 1 !important;
    margin-left: -2%;
    @include tablet {
      margin-left: 0;
    }
  }
  &__arrow-personal--next {
    opacity: 1 !important;
    margin-right: -2%;
    @include tablet {
      margin-right: 0;
    }
  }
  // documents slider style
  &__arrow-documents--prev {
    opacity: 1 !important;
    margin-left: -2.5%;
  }
  &__arrow-documents--next {
    opacity: 1 !important;
    margin-right: -2.5%;
  }
}

.thumbnails {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  margin-left: 22px !important;
  @include desktop {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0 !important;
  }
}

.thumbnail {
  width: 140px;
  height: 140px;
  margin-bottom: 20px !important;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  &:last-of-type {
    margin-bottom: 0 !important;
  }
  @include phone {
    width: 97px;
    height: 97px;
  }
}

.thumbnail img {
  width: 100%;
  height: auto;
}
