.header_company {
  background-image: none;
  margin-bottom: 96px;
  @include phone {
    margin-bottom: 46px;
  }
}

.header__band {
  position: relative;
  margin-top: 22px;
  width: 100%;
  height: 40px;
  background-color: var(--color-gray-border);
  border-radius: var(--border-radius-m);
  z-index: 2;
  display: flex;
  align-items: center;
  &-title {
    font-size: var(--text-xs);
    margin-left: 44px;
    font-weight: var(--fw-light);
    margin-right: 5px;
    @include phone {
      margin-left: 20px;
      font-size: var(--text-smal);
    }
  }
  &-border {
    border: 0.5px solid black;
    width: 5px;
  }
  &-subtitle {
    font-size: var(--text-xs);
    margin-left: 5px;
    @include phone {
      font-size: var(--text-smal);
    }
  }
  &-subproducts {
    font-size: var(--text-xs);
    margin-left: 5px;
    margin-right: 5px;
    @include phone {
      font-size: var(--text-smal);
    }
  }
}

.header__company {
  background-image: url("/src/images/bg-company.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  margin-top: -20px;
  display: grid;
  align-items: end;
  justify-content: center;
  z-index: -1;
  @include phone {
    justify-content: start;
    height: 560px;
  }
  &-title {
    max-width: 1140px;
    margin-bottom: 56px;
    @include phone {
      max-width: 272px;
      font-size: 32px;
    }
  }
}
