.personal {
  display: block;
  height: 700px;
  @include phone {
    margin-bottom: 64px;
  }
  &__title {
    max-width: 900px;
    margin-bottom: 56px !important;
    @include phone {
      max-width: 288px;
      margin: 0 !important;
      margin-bottom: 42px;
    }
  }
  &__card {
    margin: 0 auto;
    height: 510px;
    width: 338px;
    @include df-center-all;
    flex-direction: column;
    box-shadow: var(--box-shadow-m);
    border-radius: var(--border-radius-m);
    img {
      z-index: 1;
    }
  }
  &__card-descr {
    height: 180px;
    width: 100%;
    margin-top: -64px;
    @include df-center-all;
  }
  &__card-dashed {
    width: 92%;
    height: 85%;
    border: var(--border-dashed);
    border-radius: var(--border-radius-m);
  }
  &__card-subdescr {
    margin-top: 70px;
    margin-left: 37px;
  }
  &__card-name {
    font-size: var(--text-md);
    font-weight: var(--fw-semibold);
    margin-bottom: 12px;
  }
  &__splide {
    max-width: 1440px;
  }
}

.splide {
  &__slide-personal {
    margin-bottom: 20px !important;
  }
}
