.bath_header {
  background-image: url("/src/images/bg-bathousepage.png") !important;
}

.header {
  &__subtitle-black {
    color: var(--color-dark);
  }
  &__subdescr-dots_black {
    background-color: var(--color-dark);
  }
}

.subdescr__list-bath {
  display: flex;
  flex-wrap: wrap;
  li {
    &:nth-child(3) {
      margin-top: 60px;
      max-width: 400px !important;
    }
  }
}
